
  
@mixin text {
  width: 620px;
  height: 50px;
  border: solid 2px #3CCACE;
  border-width: thin;
  font-size: initial;
  line-height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  margin: 16px 0;
}

@mixin item {
  border-radius: 3px;
  margin-left: 8px;
  padding: 2px 3px;
  color:white;
  font-size: 12px;
  font-weight: bold;
}