= render 'layouts/sellheader'
.signup-view
  .signup-view-block
    .signup-view-block__form
      商品送付先住所情報入力
    .signup-form
      %label.signup-form__label
        郵便番号
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input{:name => "nickname", :placeholder => "例)1234567(ハイフンなし)", :type => "email", :value => ""}/
      
    .signup-form
      %label.signup-form__label
        都道府県
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input{:name => "nickname", :placeholder => "例）メルカリ県", :type => "email", :value => ""}/
      
      .signup-form
      %label.signup-form__label
        市町村
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input{:name => "nickname", :placeholder => "例）メルカリ市メルカリ区", :type => "email", :value => ""}/
      
      .signup-form
      %label.signup-form__label
        番地
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input{:name => "nickname", :placeholder => "例）1-2-3", :type => "email", :value => ""}/
      
    .signup-form
      %label.signup-form__label
        マンション名・ビル名
      %span.signup-form__span
        任意
      %br
      %input.signup-form__login-input{:name => "nickname", :placeholder => "例）メルカリマンション123号室", :type => "email", :value => ""}/
      
    .signup-form
      %h3.signup-form__identification
        本人確認
      %p.signup-form__explanation
        安心・安全にご利用いただくために、お客さまの本人
        %br/
        情報の登録にご協力ください。他のお客さまに公開さ
        %br/
        れることはありません。

    .signup-form
      %label.signup-form__label
        送付先氏名(全角)
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input2{:name => "nickname", :placeholder => "例)山田", :type => "email", :value => ""}/
      %input.signup-form__login-input2{:name => "nickname", :placeholder => "例）彩", :type => "email", :value => ""}/

    .signup-form
      %label.signup-form__label
        送付先氏名カナ(全角)
      %span.signup-form__span
        必須
      %br
      %input.signup-form__login-input2{:name => "nickname", :placeholder => "例）ヤマダ", :type => "email", :value => ""}/
      %input.signup-form__login-input2{:name => "nickname", :placeholder => "例）アヤ", :type => "email", :value => ""}/

    .signup-form
      %label.signup-form__label
        生年月日
      %span.signup-form__span
        必須
      %br
      .signup-form__birthday-form
        .signup-form__birthday-form__select
        != sprintf(date_select(:date, :birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        %br/
        ※本人情報は正しく入力してください。会員登録後、
        %br/
        修正するにはお時間を頂く場合があります。
      .signup-form__login-btn

        %span.login-btn-text
        
          次へ進む
= render 'layouts/sellfooter'