.signup-view {
  background-color: #f5f5f5;
  .signup-view-block {
    width: 750px;
    height: 1050px;
    margin: 0 auto;
    background-color: #fff;
    &__form {
      padding: 24px 16px 40px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  .signup-form {
    margin: 10px 0 0;
    text-align: center;
    position: relative;
    &__label {
      font-weight: 600;
      display: inline-block;
      font-size: 14px;
    }
    &__span {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    &__login-input {
      width: 300px;
      margin: 8px 0 0;
      height: 25px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    &__password-open-btn {
      position: absolute;
      top: 3px;
      left: 210px;
      z-index: 1;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid #ccc;
      color: #fff;
      vertical-align: middle;
      cursor: pointer;
    }

    &__password-open-text {
      color: black;
      font-size: 14px;
      position: absolute;
      left: 240px;
    }
    &__identification {
      font-size: 16px;
      font-weight: bold;
      padding: 40px 0 0 0;
    }
    &__explanation {
      margin: 8px 0 0;
      padding: 0;
      line-height: 1.5;
      font-size: 13px;
    }
    &__login-input2 {
      width: 150px;
      margin: 8px 0 0;
      height: 25px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    &__birthday-form {
      color: gray;
      font-size: 14px;
      #birthday_birthday_1i {
        height: 48px;
        width: 78px;
        background-color: white;
      }
      #birthday_birthday_2i {
        height: 48px;
        width: 78px;
        background-color: white;
      }
      #birthday_birthday_3i{
        height: 48px;
        width: 78px;
        background-color: white;
      
      }

      }

    &__login-btn{
      height:50px;
      width:365px;
      margin: 20px auto;
      background-color: red;
      position: relative;
      color:white;
      border-radius: 4px;
      .login-btn-text{  
        font-size:14px;
        line-height:50px;
        position: absolute;
        left:40%  ;
      }
      
    }

    }
  }
}