.buy-content__title {
  width: 100vw;
  padding-top: 10px;
  text-align: center;
  .user-info-update {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #3ccace;
    width: 100px;
    margin: auto;
    a {
      font-weight: bold;
      color: white;
    }
  }
  .buy-button {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #3ccace;
    width: 100px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
.buy-content__attention{
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 21px;
  background-color: #ffffee;
  &__title {
    width: 100vw;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
}
.buy-content__item {
  display: flex;
  width: 100vw;
  height: 100px;
  &__inner {
    margin: auto;
  }
  .buy-form {
    margin: auto;
    width: 300px;
    .buy-price-table {
      display: flex;
      justify-content: space-between;
      height: 50px;
      &__left {
        font-weight: bold;
        line-height: 50px;
      }
      &__right {
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
      }
    }
  }
  .buy-content__user-info__submit {
    width: 300px;
    text-align: center;
    padding: 5px 50px;
    border-radius: 5px;
    background-color: #3ccace;
    cursor: pointer;
    &__button {
      color: white;
      font-weight: bold;
    }
  }
}