%header.pcheader
  .toppage
    .topheader
      %h1.icon
        =link_to "#" do
          = image_tag asset_path('logo.png'), size: "141x41"
      
      .seatch
        %form{action:"#",acceptcharset:"UTF-8",method:"get",class:"seatch__form"}
          %input{placeholder: "キーワードから探す",class:"seatch__box",type:"text",name:"seacth[content]",id:"seacth_content"}
          %button{type:"submit",class:"seatch__submit"}
            .seatch__icon
              =image_tag "/assets/icon-search 1.png",size:"20x20"
    .category
      %ul.listleft
        .listleft__left
          =link_to"#",class: "catbtn",id: "catbtn" do
            カテゴリー
          .treecategory
            %ul.categoryrampage
              %li.categoryrampage__item
                =link_to"#",id:"1"do
                  レディース
              %li.categoryrampage__item
                =link_to"#",id:"2"do
                  メンズ
              %li.categoryrampage__item
                =link_to"#",id:"3"do
                  ベビー・キッズ
              %li.categoryrampage__item
                =link_to"#",id:"4"do
                  インテリア・住まい・小物
              %li.categoryrampage__item
                =link_to"#",id:"5"do
                  本・音楽・ゲーム
              %li.categoryrampage__item
                =link_to"#",id:"6"do
                  おもちゃ・ホビー・グッズ
              %li.categoryrampage__item
                =link_to"#",id:"7"do
                  コスメ・香水・美容
              %li.categoryrampage__item
                =link_to"#",id:"8"do
                  家電・スマホ・カメラ
              %li.categoryrampage__item
                =link_to"#",id:"9"do
                  スポーツ・レジャー
              %li.categoryrampage__item
                =link_to"#",id:"10"do
                  ハンドメイド
              %li.categoryrampage__item
                =link_to"#",id:"11"do
                  チケット
              %li.categoryrampage__item
                =link_to"#",id:"12"do
                  自動車・オートバイ
              %li.categoryrampage__item
                =link_to"#",id:"13"do
                  その他



        .listleft__right
          =link_to "#" do
            ブランド
      %ul.listright
        .listright__left
          =link_to "#" do
            ログイン
        .listright__right
          =link_to "#" do
            新規会員登録

.main
  %section.mainpage
    .content
      %h2.content__title
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品できる・購入できる
        %br
          フリマアプリです
      .content__btn
        =link_to "#" do
          .appbtn=image_tag "/assets/AppleStore.svg",size:"180x55"
        =link_to "#" do
          .goobtn=image_tag "/assets/googleplay.svg",size:"180x55"


  %section.maininformation
    %h2.subtitle
      FURIMAが選ばれる理由
      %after

    %ul.lists
      %li.list
        .list__pic
          %span.number 1
          =image_tag "/assets/pict-reason-01.jpg",size:"236x236"
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__information
          スマホで入力するだけで簡単に出品できる

      %li.list
        .list__pic
          %span.number 2
          =image_tag "/assets/pict-reason-02.jpg",size:"236x236"
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__information
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--3
        .list__pic
          %span.number 3
          =image_tag "/assets/pict-reason-03.jpg",size:"236x236"
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__information
          最大３％でお得に出品＆購入！

  %section.download
    .download__top
      %h2.title
        会員数日本１位
      %p.text
        FURIMAは、フリマアプリでもっとも人気。
        %br
        出品・購入回数も業界最多です！
        %br
        欲しかったあの商品に出会えるかもしれません。
      .download__btn
        =link_to "#" do
          .appbtn=image_tag "/assets/AppleStore.svg",size:"180x55"
        =link_to "#" do
          .goobtn=image_tag "/assets/googleplay.svg",size:"180x55"

  %section.characteristic
    %h2.header
      FURIMAの特徴
      %after
    .peoples
      %section.people
        %figure.people__img
          =image_tag "/assets/icon-01.png"
        %h3.people__title 
          簡単に売り買いできる
        %p.people__text
          スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
      
      %section.people
        %figure.people__img
          =image_tag "/assets/icon-03.png"
        %h3.people__title 
          売上金は即日振込みに対応
        %p.people__text
          午前９時までに振込を依頼いただければ、翌日に指定の口座に入金致します！
      
      %section.people
        %figure.people__img
          =image_tag "/assets/icon-04.png"
        %h3.people__title 
          ざまざまな支払いに対応
        %p.people__text
          お支払いはクレジットカードだけでなくポイントや売上金など多彩な方法があります。
  
  %section.pickup
    %h2.header ピックアップカテゴリー
    
    .productbox
      .productbox__head
        =link_to "#"do
          %h3.body 新規商品
        
      .productlists
        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/reebok.jpg"
            .productlist__text
              %h3.name reebok
              .text
                %ul
                  %li 25000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/stansmith.jpg"
            .productlist__text
              %h3.name adidas
              .text
                %ul
                  %li 20000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/nike-air-max-95.jpg"
            .productlist__text
              %h3.name nike
              .text
                %ul
                  %li 20000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/converse.jpg"
            .productlist__text
              %h3.name converse
              .text
                %ul
                  %li 6000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

  %section.pickuplist
    %h2.header ピックアップブランド
    .productbox
      .productbox__head
        =link_to "#"do
          %h3.body アーカイバ
        
      .productlists
        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/reebok.jpg"
            .productlist__text
              %h3.name reebok
              .text
                %ul
                  %li 25000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/stansmith.jpg"
            .productlist__text
              %h3.name adidas
              .text
                %ul
                  %li 20000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/nike-air-max-95.jpg"
            .productlist__text
              %h3.name nike
              .text
                %ul
                  %li 20000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）

        .productlist
          =link_to "#" do
            %figure.productlist__img
              =image_tag "/assets/converse.jpg"
            .productlist__text
              %h3.name converse
              .text
                %ul
                  %li 6000円
                  %li.icon
                    =icon('fas', 'star')
                    0
                %p （税込）
  
  %aside.appinner
    .inner
      %h2.inner__subtitle だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__body 今すぐ無料ダウンロード！
      .inner__app
        =link_to "#"do
          .appbtn=image_tag "/assets/AppleStore.svg",size:"180x55"
        =link_to "#"do
          .goobtn=image_tag "/assets/googleplay.svg",size:"180x55"

  
  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            =link_to "#" do
              会社概要（運営会社）
          %li
            =link_to "#" do
              プライバシーポリシー
          %li
            =link_to "#" do
              FURIMA利用規約
          %li
            =link_to "#" do
              ポイントに関する規約

      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li
            =link_to "#" do
              カテゴリー一覧
          %li
            =link_to "#" do
              ブランド一覧

      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            =link_to "#" do
              FURIMAガイド
          %li
            =link_to "#" do
              FURIMAロゴ利用ガイドライン
          %li
            =link_to "#" do
              お知らせ
    .content__logo
      =link_to "#" do
        =image_tag "/assets/logo-white.png", size: "160x46"
      %p ©️ FURIMA
  
  .fixbtn
    =link_to "#" do
      %span.fixbtn__text 出品する
      .fixbtn__img 
        =image_tag src="/assets/icon_camera.png", size: "54x54"
