*{
  box-sizing: border-box;
  margin: 0;
}

@import "config/mixin";

.wrapper{
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
  .display{
    display: flex;
    flex-direction: column;//フレックスコンテナー内で主軸の方向を:積み重なる様に配置する
    min-height: 100vh;// <IMG>・ <INPUT>・ <TEXTAREA>・ <SELECT>などの高さの最小値の指定
    background-color: lightgray;
    .header{
      height: 128px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;//水平方向
      align-items: center;//垂直方向
    }
    .product{
      max-width: 700px;
      // height: 2000px;//（仮）の高さ後で子要素にぴったり合わせる
      background-color:white;
      width: 700px;
      margin: auto;
      &__box{
        padding: 40px;
        border-bottom: solid 2px lightgray;
        &__form-label{
          font-size: 15px;
          &__title{
            color: black;
            font-weight: bold;
          }
          &__item{
            background-color: red;
            @include item;
            &__gray{
              background-color: lightgray;
              @include item;
            }
          }
        }
        &__photo{
          height: 150px;
          width: 620px;
          background-color: lightgray;
          border-style: dashed;
          border-width: thin;
          display: flex;
          flex-direction: column;
          justify-content: center;//水平方向
          align-items: center;//垂直方向
          &__line{
            margin-top: 2px;
            font-size: small;
          }
        }
        &__genre{
          color: gray;
          font-weight: bold;
        }
        &__name{
          @include text
        }
        &__explanation{
          width: 620px;
          height: 155px;
          border: solid 2px lightseagreen;
          border-width: thin;
          margin: 16px 0;
          padding: 15px;
          border-radius: 10px;
          p{
            padding-bottom: 30px;
          }
        }
        &__category{
          @include text
        }
        &__brand{
          @include text;
          color: darkgrey; //これのみ変数に含まない
        }
        &__status{
          @include text
        }
        &__shiping-charge{
          @include text
        }
        &__area{
          @include text
        }
        &__days{
          @include text
        }

      }
      &__calculation-box{
        padding: 40px 40px 12px 40px;
        &__band{
          height: 50px;
          width: 620px;
          
          // display: flex;
          // justify-content: space-between;
          position: relative;
          &__price{
            width: 280px;
            height: 50px;
            border: solid 2px lightseagreen;
            border-width: thin;
            line-height: 50px;
            padding-left: 15px;
            border-radius: 10px;
            position: absolute;
            right: 0px;
            top: 0px;
            &__icon{
              position: absolute;
              right: 290px;
              top: 13px;
            }
          }
        }
      }
      &__sales-commission{
        height: 50px;
        margin: 0 40px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px lightgray ;
      }
      &__sales-profit{
        height: 50px;
        margin: 0 40px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
      }
      &__send{
        width: 370px;
        margin: 0px auto 32px;
        display: flex;
        flex-direction: column;
        text-align: center;
        &__sell{
          height: 50px;
          background-color: olive;
          font-size: 17px;
          color: white;
        }
        &__save{
          margin-top: 24px;
          height: 50px;
          font-size: 17px;
          color: black;
        }
        &__redirect{
          margin-top: 20px;
          text-decoration: none;
        }
      }
    }
    .footer{
      padding: 60px 250px;
      background-color: grayscale($color: #000000);
      text-align: center;
      &__box{
        display: flex;
        justify-content: space-around;
        &__content{
          color: lightgray;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          &__link{
            color: white;
            font-size: 12px;
            margin-top: 10px;
            text-decoration: none;
          }
        }
      }
      &__icon{
        margin-top: 50px;
      }
    }
  }
}