.side-bar 
    .side-bar__menu
        = link_to '#' do
            .btn
                出品する
        = link_to '#' do
            .btn
                本人情報
        = link_to '#' do
            .btn
                支払い方法
        = link_to '#' do
            .btn
                ログアウト