.contents
  .products
    .products-name
      =@product.name
    .products-image
      .products-image__main
        = image_tag asset_path('product-image1.jpg'), width: '560px'
      .products-image__sub
        = image_tag asset_path('product-image2.jpg'), width: '140px'
        = image_tag asset_path('product-image3.jpg'), width: '140px'
    .price
      =@product.price
    .price__status
      <span>
      (税込)
      </span>
      <span>
      送料込み
      </span>
    .product__text
      =@product.comment
    %table.product__details
      %tr
        %th 出品者
        %td 
          =current_create_user.nickname
      %tr
        %th カテゴリー
        %td 
          =@product.category_id.name
      %tr
        %th ブランド
        %td
          =@product.brand
      %tr
        %th 商品のサイズ
        %td 
          =@product.size
      %tr
        %th 商品の状態
        %td 
          =@product.status
      %tr
        %th 配送料の負担
        %td 
          =@product.shippingcharge
      %tr
        %th 発送元の地域
        %td
          =@product.area
      %tr
        %th 発送日の目安
        %td 
          =@product.days